<!-- 商品編集 -->
<main>
  <div class="container">
    <div class="row" style="margin-top: 5%">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h3 class="card-body bg-light">商品編集</h3>

        <div>
          <%= form_with(model: @item, url: admin_item_path , local: true) do |f| %>   <!-- 商品情報更新の設定-->
            <!-- エラーメッセージ-->
            <%= render 'admin/shared/error_messages', resource: @item %>

            <!-- 画像 -->
            <div class="field">
              <div class="商品画像">
              <%= f.label :"商品画像" %>
              <%= f.file_field :image, placeholder: "Image", accept: "image/*" %>
            </div>

            <div class="field">
              <%= f.label :"商品名" %>
              <%= f.text_field :name %>
            </div>

            <div class="field">
              <%= f.label :"商品説明" %>
              <%= f.text_area :description %>
            </div>

            <div class="field">
              <%= f.label :"ジャンル" %>
              <%= f.collection_select :genre_id, Genre.all, :id,  :name, :prompt => "-- 選択してください --" %>
            </div>

            <div class="field">
              <%= f.label :"税抜価格" %>
              <%= f.text_field :price %>
            </div>

            <div class="field">
              <%= f.label :"販売ステータス" %>
              <!-- ラジオボタン -->
              <%= f.radio_button :is_active, :true, checked: true %>
              <%= f.label :is_active_true, "販売中" %>

              <%= f.radio_button :is_active, :false %>
              <%= f.label :is_active_false, "販売中止" %>
            </div>

            <div class="actions">
              <%= f.submit "変更を保存", class: "btn btn-success" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>