<!-- 商品一覧 -->
<div class="container">
  <div class="row" style="margin-top: 5%">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <table class="table">
        <tr>
          <th><h3 class="card-body bg-light">商品一覧　　　　　　　</h3></th>               <!-- タイトル -->
          <th><%= link_to "新規登録", new_admin_item_path, class: "btn btn-primary" %></th> <!-- 新規登録ボタン -->
        <tr>
      </table>

        <table class="table">
          <thead class="thead-light"> <!-- 表の列の見出しを定義 -->
            <!-- 見出し -->
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
            </tr>
          </thead>

          <tbody> <!--表の行（水平方向）をグループ化 -->
            <% @items.each do |item| %>
              <tr>
                <th><%= item.id %></th>                   <!-- 商品id -->
                <th><%= link_to item.name, admin_item_path(item.id) %></th>   <!-- 商品名：商品詳細ページへのリンク設定 -->
                <th><%= item.price %></th>                <!-- 税抜価格 -->
                <th><%= item.genre.name %></th>           <!-- ジャンル -->
                <th>
                  <% if item.is_active == true %>        <!-- ステータス true：販売中、false：売切れ -->
                    販売中
                  <% else %>
                    販売停止中
                  <% end %>
                </th>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @items, class:"text-center" %>
    </div>
  </div>
</div>
