<p id="notice"></p>
<div class="container">

  <div class="row">
    <h5 class="bg-light text-dark">注文履歴一覧</h5>
  </div>

  <div class="row">
    <div class="col-md-9 mx-auto">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
        </tr>
      </thead>

      <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td>
            <%= link_to admin_order_path(order.id) do %>
              <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
            <% end %>
          </td>
          <td>
            <%= order.customer.family_name  + order.customer.first_name %>
          </td>
          <td>
            <% total_quantity = 0 %>
            <% order.order_details.each do |order_details| %>
              <% total_quantity += order_details.quantity %>
            <% end %>
            <%= total_quantity %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
    </div>
    <!--<div class="col-md-2"></div>-->

  </div>

  <div class="row">
    <div class="d-block mx-auto">
      <%= paginate @orders %>
    </div>
  </div>

</div>