<h5 class="background-color:#DCDCDC">ジャンル一覧・追加</h5>
  <!-- 新規投稿画面 -->
  <%= form_with model: @genre, local: true do |f| %>
    <label>ジャンル</label>
      <%= f.text_field :name, placeholder: "ジャンル名" %>
      <%= f.submit "送信" %>
  <% end %>

  <!-- 投稿されたジャンルを表示させる -->
  <table>
    <th>ジャンル</th>
    <% @genres.each do |g| %>
    <tr>
      <td><%= g.name %></td>
      <td><%= link_to "編集", edit_admin_genre_path(g.id) %></td>
    </tr>
     <% end %>
  </table>


