<!-- 商品新規登録 -->
<h2>商品新規登録</h2>

<%= form_with model:@item do |f| %>
  <h4>商品画像</h4>



  <h4>商品名</h4>
  <%= f.text_field :name %>

  <h4>商品説明</h4>
  <%= f.text_area :description %>

  <h4>ジャンル</h4>
  <%= f.label :id %>
  <%= f.collection_select :id, Genre.all, :id,  :name, :prompt => "-- 選択してください --" %>


  <h4>税抜き価格</h4>
  <%= f.text_field :price %>

  <h4>販売ステータス</h4>
  <%= f.radio_button :is_active, :true, checked: true %>
  <%= f.label :is_active_true, "販売中" %>

  <%= f.radio_button :is_active, :false %>
  <%= f.label :is_active_false, "売切れ" %>

  <%= f.submit '新規登録' %>
<% end %>
