<p id="notice"></p>
<div class="container">
  <div class="row">
    <h5 class="bg-light text-dark">注文情報入力</h5></div>
<!--支払方法選択ラジオbtn-->
  <%= form_with model: @order, url: confirm_path do |f| %>
  <div class="row">
    <div style="font-weight:bold">
      <%= f.label :payment_method, "支払い方法" %>
    </div>
  </div>
    <div class="row ml-3 py-1 px-4">
      <div class="col-3">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0), class: "form-check-input" %>
        <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card], class: "form-check-label" %>
      </div>
    </div>
    <div class="row ml-3 py-1 px-4">
      <div class="col-3">
        <%= f.radio_button :payment_method, Order.payment_methods.key(1), class: "form-check-input" %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer], class: "form-check-label" %>
      </div>
    </div>
<!--配送先選択ラジオbtn-->
  <div class="row">
    <div style="font-weight:bold">
      <%= f.label :address, "お届け先", class: "form-check-label" %>
    </div>
  </div>
    <div class="row ml-3 py-1 px-4">
      <div class="col-3">
        <%= f.radio_button :select_address, 0, checked: "checked", class: "form-check-input" %>
        <%= f.label :select_address_0, "ご自身の住所", class: "form-check-label" %>
      </div>
    </div>
      <div class="row ml-6 px-5">
        <div class="col-3">
        〒<%= @order.customer.post_code %><%= @order.customer.address %>
        </div>
      </div>
      <div class="row ml-6 px-5">
        <div class="col-3">
        <%= @order.customer.family_name %><%= @order.customer.first_name %><br>
        </div>
      </div>
    <div class="row ml-3 py-2 px-4">
      <div class="col-lg">
        <%= f.radio_button :select_address, 1, class: "form-check-input" %>
        <%= f.label :select_address_1, "登録済住所から選択", class: "form-check-label" %>
      </div>
    </div>
      <div class="row ml-3 px-5">
        <div>
          <%= f.select :addresses_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display), class: "form-select form-select-lg" %>
        </div>
      </div>

    <div class="row ml-3 py-2 px-4">
      <div class="col-3">
        <%= f.radio_button :select_address, 2, class: "form-check-input" %>
        <%= f.label :select_address_2, "新しいお届け先", class: "form-check-label" %>
      </div>
    </div>

      <div class="row ml-2 mb-2 px-5">
        <%= f.label :"郵便番号（ハイフンなし)", class: "col-md-3 col-form-label" %>
        <div class="col-md-3">
          <%= f.text_field :post_code, placeholder: "0000000", class: "form-control" %>
        </div>
      </div>
      <div class="row ml-2 mb-2 px-5">
        <%= f.label :住所, class: "col-md-3 col-form-label" %>
        <div class="col-md-7">
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control" %>
        </div>
      </div>
      <div class="row ml-2 mb-2 px-5">
        <%= f.label :宛名, class: "col-md-3 col-form-label" %>
        <div class="col-md-3">
          <%= f.text_field :name, placeholder: "令和道子", class: "form-control" %>
        </div>
      </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
</div>