<div class="nav-item">
  <%= link_to "商品一覧", "", class: 'btn btn-outline-secondary' %>
</div>
<div class="nav-item ms-5">
  <%= link_to "会員一覧", "", class: 'btn btn-outline-secondary' %>
</li>
<div class="nav-item ms-5">
  <%= link_to "注文履歴一覧", "", class: 'btn btn-outline-secondary' %>
</div>
<div class="nav-item ms-5">
  <%= link_to "ジャンル一覧", "", class: 'btn btn-outline-secondary' %>
</div>
<div class="nav-item ms-5">
  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-secondary' %>
</div>