<div class="container">
  <div class="row">
    <div class="nav-item col-sm-auto">
      <%= link_to "商品一覧", admin_items_path, class: 'btn btn-outline-secondary w-auto' %>
    </div>
    <div class="nav-item col-sm-auto">
      <%= link_to "会員一覧", admin_customers_path, class: 'btn btn-outline-secondary w-auto' %>
    </div>
    <div class="nav-item col-sm-auto">
      <%= link_to "注文履歴一覧", admin_orders_path, class: 'btn btn-outline-secondary w-auto' %>
    </div>
    <div class="nav-item col-sm-auto">
      <%= link_to "ジャンル一覧", admin_genres_path, class: 'btn btn-outline-secondary w-auto' %>
    </div>
    <div class="nav-item col-sm-auto">
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-outline-secondary w-auto' %>
    </div>
  </div>
</div>