<li class="nav-item">
  <%= link_to "商品一覧", "", class: 'nav-link text-dark' %>
</li>
<li class="nav-item">
  <%= link_to "会員一覧", "", class: 'nav-link text-dark' %>
</li>
<li class="nav-item">
  <%= link_to "注文履歴一覧", "", class: 'nav-link text-dark' %>
</li>
<li class="nav-item">
  <%= link_to "ジャンル一覧", "", class: 'nav-link text-dark' %>
</li>
<li class="nav-item">
  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
</li>